/* Importazione dei font da google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@media screen and (min-width:0px){
    
}
@media screen and (min-width:800px){
    
}


.nav_laterale {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
  }

/* Link della navbar laterale */
.nav_laterale a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.nav_laterale a:hover{
    color: #f1f1f1;
}

/* NavBar Superiore */
nav{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #161616;
}

/* Logo posto all inizio */
.logo_itt{
    width: 80px;
}

/* Scritta WikITT */
.titolo_nav{
    font-size: 2.5em;
    text-decoration: none;
    font-weight: 1000;
    color: white;
    flex: 10;
}

/* Scritta Museo */
nav div:nth-child(3){
    color: white;
    font-size: 40px;
    
}

/* Pulsante per la barra laterale */
.menu_button{
     color: white;
     font-size: 50px;
     flex: 10;
     display: flex;
     justify-content: right;
     cursor: pointer;
}

/* Contenitore a destra della navbar che ha la funzione di fare da offset al bottone che apre la barra laterale */
.contenitore_vuoto{
    flex: 1%;
}

.contenitore_responsive{
    width: min(90%, 800px);
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px;
    padding: 30px;
}

.titolo{
    margin-top: 30px;
    font-size: 50px;
    font-weight: 700;
}

.testo{
    font-size: 20px;
}

.divisione_testo{
    display: flex;
}

.porzione_sinistra{
    flex: 2;
}

.vuoto{
    flex:0.5;
}

.porzione_destra{
    flex: 1;
}
