.contenitore_responsive{
    width: min(90%, 800px);
    margin: 0 auto;
    height: 3000px;
}
.titolo{
    margin-top: 30px;
    font-size: 50px;
    font-weight: 700;
}
.testo{
    font-size: 20px;
}