@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Noto+Sans&family=Press+Start+2P&family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --white:#F5F5F7;
    --dark-gray: #1d1d1f;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    background-color: var(--dark-gray);
    height: 60px;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}

.center-nav{
    height: 100%;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 33%;
}

.nav-logo{
    height: 70px;
}

.nav-title{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight: 1000;
    color: var(--white);
}

.museo-title{
    color: var(--white);
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    flex: 33%;
    display: flex;
    justify-content: center;    
}

.languace{
    height: 35px;
    margin: 0 10px;
}
.languace:hover{
    cursor: pointer;
}

.flag{
    border-radius: 40px;
}


.settings{
    display: flex;
    flex: 33%;
    align-items: center;
    justify-content: flex-end;
}
.menu{
    font-size: 50px;
    color: var(--white);
    margin: 0 10px;
    padding: 0px 0px 5px 0px;
}
.menu:hover{
    cursor: pointer;
}

.content-full-grey{
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 0px lightgrey;
}

.welcome-img{
    width: min(800px,95%);
    margin: 0 auto;
    transform: translate(0px,-50px);
    z-index: -1;
}

.arrow{
    width: 100%;
    display: flex;
    justify-content: center;
}

.svg-arrow{
    fill: rgba(29, 29, 31, 0.8);
    transform: translate(0px,-40px);
    width: var(--arrowWidth);
    
    animation-name: movingArrow;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
}
.svg-arrow:hover{
    cursor: pointer;
}

@keyframes movingArrow{
    0%{transform: translate(0px,10px);}
    50%{transform: translate(0px,-40px);}
    100%{transform: translate(0px,10px);}
}

.titolo-contenuti{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    padding: var(--paddingTitoloContenuti);
}

.content-full-white{
    background-color: var(--white);
}

.center-topics{
    display: flex;
    justify-content: center;
    width: 100%; 
    padding-bottom: 80px;   
}

.topics{
    display: flex;
    width: var(--topicsWidth);
    flex-wrap: wrap;
    justify-content: center;
}

.topic{
    background-color: var(--white);
    width: 300px;
    height: 300px;
    margin: 15px;
    border-radius: 25px;
    
    display: flex;
    flex-direction: column;
    justify-content: end;

    transition: 0.5s;

    box-shadow: 0px 0px 20px 0px grey;
}
.topic:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.bottom-text{
    display: flex;
    background-color: #E2001A;
    font-size: 25px;
    font-weight: 500;
    padding: 10px 10px 15px 10px;
    border-radius: 0px 0px 25px 25px;
    justify-content: space-around;

    color: var(--white);
}

.right-arrow{
    width: 25px;
    fill: var(--white);
}

.olivetti{
    background-image: url(Images/Adriano-Olivetti.png);
    background-size: contain;
}

.lexicon{
    background-image: url(Images/lexicon.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
}

.divisumma{
    background-image: url(Images/divisumma.png);
    background-size: 110%;
    background-position: center;
    background-position-y: -20px;
}

.giugiaro{
    background-image: url(Images/giugiaro.jpg);
    background-size: contain;
}

.nizzoli{
    background-image: url(Images/nizzoli.jpg);
    background-size: contain;
    background-size: 100%;
}

.sirio{
    background-image: url(Images/sirio.jpg);
    background-size: contain;
}












@media screen and (min-width:0px) {
    :root{
        --arrowWidth:30%;        
        --paddingTitoloContenuti:50px;
        --topicsWidth:90%;
    }
}

@media screen and (min-width:835px) {
    :root{
        --arrowWidth:7%; 
        --paddingTitoloContenuti:150px 0px 50px 0px;
        --topicsWidth:1000px;
    }
}

